.inputPhone {
  text-align: center;
  padding-top: 13px;
  input {
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0;
    text-align: left;
    background-color: #86D3F4;
    border: none;
    :active {
      border: none;
    }
  }

  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }

  .button {
    margin: 0 10px 10px 0;
  }
}

.stringManager {
  padding: 13px;
}

.clearButton {
  margin: 0 10px 10px 0;
  font-weight: 700;
  gap: 10px;
}

.phone {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;

}