.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.blue {
  background-color: #86D3F4;
  width: 251px;
  height: 357px;
  color: black;
  font-size: xx-small;
}