.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 380px;
  height: 100vh;
  top: -1px;
  padding: 40px, 24px, 40px, 24px;
  gap: 13px;
  background-color: #86D3F4;
}